{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
    <table class="table table-responsive">
      <tr>
        <th>ID заказа</th>
        <th>Статус</th>
        <th>Способ оплаты</th>
        <th>Стоимость</th>
        <th>Клиент</th>
        <th>Телефон</th>
        <th>Адрес доставки</th>
        <th>Комментарий</th>
        <th>Рестораны</th>
        <th>Ссылка на админку</th>
      </tr>
      {% for order in orders %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.get_status_display }}</td>
          <td>{{ order.get_payment_method_display }}</td>
          <td>{{ order.order_cost }}₽</td>
          <td>{{ order.firstname }} {{ order.lastname }}</td>
          <td>{{ order.phonenumber }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.comment|default:'—' }}</td>
          <td>
            {% if order.restaurant_to_cook %}
              Готовит {{ order.restaurant_to_cook }}
            {% elif order.restaurants_to_order %}
              Может быть приготовлен ресторанами:
              <details>
                {% for distanse, restaurant in order.restaurants_to_order %}
                  <ul>
                    <li>
                      {{ restaurant}}
                    </li>
                  </ul>
                {% endfor %}
              </details>
            {% else %}
              Такой заказ никто не приготовит 😞
            {% endif %}
          </td>
          {% url 'admin:foodcartapp_order_change' order.id as admin_order_url %}
          <td><a href="{{ admin_order_url }}?next={{ request.path|urlencode }}">Редактировать</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
